<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
    <h1 mat-dialog-title>Adit address</h1>
    <div mat-dialog-content>
  
      <div>
        <mat-form-field appearance="outline" class="full-w">
          <mat-label>Street + House No.</mat-label>
          <input [disabled]="loading" [(ngModel)]="User.street" matInput placeholder="Street + House No.">
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field class="mr-r16" appearance="outline">
          <mat-label>Zip code</mat-label>
          <input [disabled]="loading" [(ngModel)]="User.zipCode" matInput placeholder="Zip code">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input [disabled]="loading" [(ngModel)]="User.city" matInput placeholder="City">
        </mat-form-field>
      </div>
  
    </div>
    <div mat-dialog-actions>
      <button [disabled]="loading" (click)="dialogRef.close();" mat-button>Cancel</button>
      <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
  </div>
