<div class="list-view">

    <div class="wd30">
        <mat-card class="todo-title">
            <mat-card-title>
                To Do
            </mat-card-title>

        </mat-card>

        <mat-card class="mg-top-16" dragula="todos" [dragulaModel]="allToDos" (dragulaModelChange)="allToDos = $event">
            <app-todo [toDo$]="todo" *ngFor="let todo of allToDos"></app-todo>
        </mat-card>

    </div>

    <div class="wd30">
        <mat-card class="doing-title">
            <mat-card-title>
                Doing
            </mat-card-title>

        </mat-card>

        <mat-card class="mg-top-16">
            doing
        </mat-card>
    </div>

    <div class="wd30">
        <mat-card class="done-title">
            <mat-card-title>
                Done
            </mat-card-title>

        </mat-card>

        <mat-card class="mg-top-16">
            done
        </mat-card>
    </div>


</div>

<button (click)="openDialog()" matTooltip="Add user" class="add-todo-btn" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>